beautifulsoup4==4.12.3
fastexcel==0.12.0
mysql-replication==1.0.9
numpy==1.26.4
openpyxl==3.1.5
pandas==2.1.4
polars==1.12.0
pytz==2024.2
requests==2.32.3
scikit-learn==1.5.2
sqlalchemy==1.4.36
sshtunnel==0.4.0
boto3==1.35.54
apache-airflow==2.10.2